html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: calibri, verdana, tahoma, arial;
}
 
#appLayout {
    height: 100%;
}
#rightPanel {
    width: 24em;
}
 
.claro {
    background-color: #BBFFBB;
}

.claro .dijitTabContainerTabListNested .dijitTabChecked, .claro .dijitTabContainerTabListNested .dijitTabHover {
	background-color: #BBFFBB;
	border-color: #BBFFBB;
}

.claro .dijitTabContainerTabListNested .dijitTabChecked {
	background-color: #BBFFBB;
	border-color: #008000;
}

#header-panel {
	background-image: url('../images/logo/growers-nation.jpg');
	background-repeat: no-repeat;
	background-position: 5px 10px;
	height: 105px;
}

#header-panel h3 {
	position: absolute;
	bottom: -6px;
	right: 10px;
	color: #008000;
	font-weight: normal;
	font-style: italic;
}

#viewsChart {
    width: 550px;
    height: 550px;
}

#locationCheck{
	visibility: hidden;
}

#reset-app {
	cursor: pointer;
	font-style: italic;
	color: #41B7D8;
}

/* Category styles */

#categories {
	float:left;
}

.category-id { display:none; }

.category-item {
	float: left;
	width: 100%;
	cursor: pointer;
}
.category-item:nth-child(odd) {
     background: #efefef;
}
.category-item:hover {
	background-color: #BBFFBB;
}

.category-image, .category-title {
	float: left;
}

.category-image {
	padding: 5px;	
}

.category-title {
	padding: 5px;
	line-height: 50px;
	height: 50px;
}