<div>
	<div data-dojo-attach-point="name"></div>
	<div>
		<img alt="Image of crop" data-dojo-attach-point="image"/>
	</div>
	<div data-dojo-attach-point="information"></div>
	<div data-dojo-attach-point="category"></div>
	<div data-dojo-attach-point="type"></div>
	<div data-dojo-attach-point="planting">
		<div data-dojo-attach-point="startDate"></div>
		<div data-dojo-attach-point="endDate"></div>
	</div>
	
	<!--
		"crop": {
					"name": "strawberries",
					"image": "images/strawberries.jpg",
					"information":"Plant strawberries now for a crop next summer.",
					"category": {
							"name": "fruit",
							"image": "images/fruit.jpg"
					},
					"type": {
							"name": "berry",
							"image": "images/berries.jpg"
					},
					"planting": {
							"startDate": "2013-08-01",
							"endDate": "2013-08-31"
					}
			},
		
	-->
</div>