<div id="categories">
	<div class="category-item">
		<div class="category-id">
			1
		</div>
		<div class="category-image"><img src="assets/images/produce/fruit.jpg">
		</div>
		<div class="category-title">
			Fruits
		</div>
	</div>
	<div class="category-item">
		<div class="category-id">
			2
		</div>
		<div class="category-image"><img src="assets/images/produce/veg.jpg">
		</div>
		<div class="category-title">
			Vegetables
		</div>
	</div>
	<div class="category-item">
		<div class="category-id">
			3
		</div>
		<div class="category-image"><img src="assets/images/produce/grains.jpg">
		</div>
		<div class="category-title">
			Grains
		</div>
	</div>
	<div class="category-item">
		<div class="category-id">
			4
		</div>
		<div class="category-image"><img src="assets/images/produce/herbs.jpg">
		</div>
		<div class="category-title">
			Herbs
		</div>
	</div>
	<div class="category-item">
		<div class="category-id">
			5
		</div>
		<div class="category-image"><img src="assets/images/produce/nuts.jpg">
		</div>
		<div class="category-title">
			Other
		</div>
	</div>
</div>