<div class="relativeParent">
	<form class="floatLeft" data-dojo-attach-point="locSearchForm">
		My location:
		<input data-dojo-attach-point='location' type='text' name='location' required="true">
		<input type='submit' value='Submit'>
	</form>
	<div class="clear"></div>
	<div class="floatLeft" id='locsFound'>
		<!-- auto complete resutls go here -->
	</div>
	<div class="floatLeft" data-dojo-attach-point='locsFoundOnMap'>
		<!-- seelcted location presented on a static map here -->
	</div>
	<div class="clear"></div>
</div>