<div>
	<div data-dojo-attach-point="locationView" data-dojo-type="dojox/mobile/View">
		<h1 data-dojo-type="dojox/mobile/Heading">Your location</h1>
		<div data-dojo-attach-point="locationNode"></div>
	</div>
	<div data-dojo-attach-point="categoryView" data-dojo-type="dojox/mobile/View">
		<h1 data-dojo-type="dojox/mobile/Heading" back="start again">Your category</h1>
		<div data-dojo-attach-point="categoryNode"></div>
	</div>
	<div data-dojo-attach-point="produceView" data-dojo-type="dojox/mobile/View">
		<h1 data-dojo-type="dojox/mobile/Heading" back="start again">Your produce</h1>
		<div data-dojo-attach-point="produceNode"></div>
	</div>
	<div data-dojo-attach-point="gardenView" data-dojo-type="dojox/mobile/View">
		<h1 data-dojo-type="dojox/mobile/Heading" back="start again">Your garden</h1>
		<div data-dojo-attach-point="gardenNode"></div>
	</div>
	<div data-dojo-attach-point="soilView" data-dojo-type="dojox/mobile/View">
		<h1 data-dojo-type="dojox/mobile/Heading" back="start again">Your soil</h1>
		<div data-dojo-attach-point="soilNode"></div>
	</div>
	<div data-dojo-attach-point="climatologyView" data-dojo-type="dojox/mobile/View">
		<h1 data-dojo-type="dojox/mobile/Heading" back="start again">Your climate</h1>
		<div data-dojo-attach-point="climatologyNode"></div>
	</div>
	<div data-dojo-attach-point="socialView" data-dojo-type="dojox/mobile/View">
		<h1 data-dojo-type="dojox/mobile/Heading" back="start again">Grower's Nation Community</h1>
		<div data-dojo-attach-point="communityNode"></div>
	</div>
</div>